<nz-card [nzTitle]="title" style="width:600px; height: 600px;">
  <div class="ingredients" (keyup.enter)="onEnterAddIngredient()">
    <div class="ingredient" nz-row nzGutter="4">
        <label nz-checkbox [(ngModel)]="True" nz-col nzSpan="1"></label>
        <app-numeric-input nz-col nzSpan="4"></app-numeric-input>
        <nz-select
            nz-col
            nzSpan="6"
            nzShowSearch
            nzServerSearch
            nzPlaceHolder="Measurement"
            [(ngModel)]="selectedValue"
            [nzShowArrow]="false"
            [nzFilterOption]="nzFilterOption"
            (nzOnSearch)="search($event)">
            <nz-option *ngFor="let o of listOfOption" [nzLabel]="o.text" [nzValue]="o.value"> </nz-option>
        </nz-select>
        <textarea
            nz-input
            placeholder="Ingredient" 
            ngModel
            nzAutosize>
        </textarea>
    </div>


  </div>

  <div class="instructions">

  </div>

</nz-card>


<ng-template #title>
    <input class="title-input-box" nz-input placeholder="Recipe Title" [(ngModel)]="recipeTitle" />
</ng-template>
