


input {
    border: none;
    border-color: transparent;
    outline: none;
    box-shadow: none;
}

input:focus {
    outline: none;
    box-shadow: none;
}


.title-input-box {
    font-weight: bold;
    font-size: 125%
}

textarea {
    width: 50%;
}

